#DATA STRUCTURE

# Writing questions

 #Data Types and Structures Questions – Answers


 Q1. What are data structures, and why are they important?

   ANS 1.> Data structures are ways of organizing and storing data so that they can be accessed and modified efficiently. They are important for optimizing performance and ensuring effective data processing.

Q2.Explain the  difference between mutable and immutable data types with examples:

  ANS 2.> Mutable: These are those data types whose values can be changed  
        after they are created. (e.g., lists, dictionaries

  .>Immutable: these are those data types whose values can not be altered once they are set. (e.g., strings, tuples)

Q3. What are the main differences between lists and tuples in python?

  ANS 3.> Lists are mutable; tuples are immutable.

  .>Lists have more functionalities but are slower than tuples.

  .>List are defined using square brackets[];tupls are defined using
     parentheses()

Q4. Describe how dictionaries store data

  ANS 4.> Dictionaries store data in key-value pairs using a hash table mechanism for quick lookups.

Q5. Why might you use a set instead of a list in Python?

  ANS 5.> Sets automatically remove duplicates and offer faster membership testing while list contain duplicates.

Q6. What is a string in Python and its difference from a list?

  ANS 6.> Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets.
  .> Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

Q7. How do tuples ensure data integrity in Python?

  ANS 7.> Tuples are immutable, meaning their contents can't be changed, ensuring consistent data.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

 ANS 8.> A hash table maps keys to values using a hash function; Python dictionaries are implemented using hash tables.

Q9. Can lists contain different data types?

  ANS 9.> Yes, Python lists can contain multiple data types.Python lists are huge and flexible,allowing you to store a collection of elements,regardless of their data type.

Q10. Explain why strings are immutable in Python.

 ANS 9.> For performance optimization and data integrity.

Q11. What advantages do dictionaries offer over lists for certain tasks?

 ANS 10.> Fast lookups by key, better for associative arrays means dictionaries code are much easier and simple to read as compare to list which are complex to read.

Q12.Describe a scenario where using a tuple would be preferable over a list.

 ANS 11.> Use tuples when the data should not change that is immutable
   (e.g., coordinates).

   Any time you need to store a sequence of data like a list, but don't need the mutability of a list, a tuple is appropriate.


Q13.How do sets handle duplicate values in Python?

 ANS 13.> Sets automatically eliminate duplicates that means sets in Python are designed to store only unique elements. When a user attempts to add a duplicate value to a set, the set automatically discards the duplicate, ensuring that each element within the set is unique.

Q14.How does the "in" keyword work differently for  lists and dictionaries?

 ANS 14.> In list: checks for element existence.

  In dict: checks for key existence.

Q15. Can you modify the elements of a tuple?Explain why or why not.

 ANS 15.> No, you cannot directly modify the elements of a tuple in Python once it's been created. Tuples are immutable, meaning their contents cannot be changed after their creation. Attempting to modify a tuple will result in a TypeError.

Q16. What is a nested dictionary,and give an example of its use case?

 ANS 16.> A nested dictionary is a dictionary where the value are themselves dictionaries.Example


    employee_records = {
    "IT": {
        "John Doe": {"age": 30, "position": "Software Engineer"},
        "Jane Smith": {"age": 28, "position": "Database Administrator"}
    },
    "Marketing": {
        "Peter Jones": {"age": 35, "position": "Marketing Manager"}
    }

Q17. Describe the  time complexity of accessing elements in a dictionary.

 ANS 17.> Accessing an element in a dictionary using its key typically has a time complexity of O(1) on average, meaning it takes constant time, regardless of the dictionary's size. However, in the worst-case scenario, it can degrade to O(n), where n is the number of key-value pairs, if there are many hash collisions.

 Average case: O(1), Worst case: O(n)

Q18. In what situations are lists preferred over dictionaries?

 ANS 18.> When the data is ordered and needs sequential access.

Q19. Why are dictionaries unordered, and how does it affect data retrieval?

 ANS 19.> They are unordered because they use a hash map, but in modern Python (3.7+), insertion order is preserved.It affect data retrieval as it is timw consuming.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

 ANS 20.> List: By index (position-based)

  Dictionary: By key (key-based)

#Practical Questions  - DATA  STRUCTURE

Q1. Write a code to create a string with your name and print it.

In [1]:
name = "SMRITI GUPTA"
print(name)

SMRITI GUPTA

Q2.Write a code to find the length of the string "Hello World".

In [2]:
print(len("Hello WORLD"))

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
s = "Python Programming"
print(s[:3])

Pyt

Q4. Write a code to convert the string "hello" to uppercase.

In [4]:
print("hello".upper())

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
print("I like apple".replace("apple","orange"))

I like orange

Q6.Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
print(list(range(1,6)))

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2.3.4).

In [9]:
list  = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd')

In [11]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

Q10. Write a code to reverse the list 10, 20, 30, 40, 50).

In [12]:
lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]


Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [13]:
Tuple = (100, 200, 300)
print(Tuple)

(100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red, 'green', 'blue', 'yellow').

In [14]:
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
t = (10, 20, 5, 15)
print(min(t))

5

Q14. Write a code to find the index of the element "cat" in the tuple (dog', 'cat', 'rabbit').

In [16]:
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
t = ('apple', 'banana', 'orange')
print('kiwi' in t)

False

Q16. Write a code to create a set with the elements a', 'b', 'c' and print it.

In [18]:
s = {'a','b','c'}
print(s)

{'c', 'b', 'a'}

Q17. Write a code to clear all elements from the set (1, 2, 3, 4, 5).

In [19]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

Q18. Write a code to remove the element 4 from the set (1, 2, 3, 4).

In [20]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

Q19. Write a code to find the union of two sets (1, 2, 3) and (3, 4, 5).

In [21]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets (1, 2, 3) and (2, 3, 4).

In [22]:
print(s1.intersection(s2))

{3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [23]:
d = {"name": "SMRITI", "age": 24, "city": "Varanasi"}
print(d)

{'name': 'SMRITI', 'age': 24, 'city': 'Varanasi'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary [name: John', 'age: 25).

In [24]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary ['name': "Alice', 'age: 30).

In [27]:
d = {'name': "Alice", 'age': 30}
print(d['name'])

Alice

Q24. Write a code to remove the key "age" from the dictionary ['name': 'Bob', 'age: 22, 'city New York').

In [28]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary ['name': "Alice', 'city: 'Paris)

In [29]:
d = {'name': "Alice", 'city': 'Paris'}
print('city' in d)

True

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [30]:
l = [1, 2, 3]
t = (4, 5, 6)
d = {'a': 7, 'b': 8, 'c': 9}
print(l, t, d)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8, 'c': 9}


Q27. Write a code to create a list of 5 random numbers between I and 100, sort it in ascending order, and print the result (replaced).

In [32]:
import random
lst = [random.randint(1, 100) for _ in range(5)]
lst.sort()
print(lst)

[21, 26, 58, 76, 82]

Q28. Write a code to create a list with strings and print the element at the third index.

In [34]:
lst = ['apple', 'banana', 'cherry', 'date', 'berry']
print(lst[2])

cherry

Q29. Write a code to combine two dictionaries into one and print the result.

In [35]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d3 = {**d1, **d2}
print(d3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30.Write a code to convert a list of strings into a set.

In [36]:
lst = ['apple', 'banana', 'cherry', 'date', 'berry']
s = set(lst)
print(s)

{'cherry', 'apple', 'date', 'berry', 'banana'}